.header-7.height {
    height: 29vh;
}

.wrapper__heder-img-7 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.wrapper__heder-img-7.justify-content {
    justify-content: center;
}

.wrapper__heder-img-7.width {
    width: 50%;
}

.wrapper__heder-img-7.align-self {
    align-self: center;
}

.heder-7-img.width {
    width: 100%;
}

.heder-7-img.height {
    height: 29vh;
}

.heder-7-img.background-color {
    background-color: gray;
}

.wrapper__header-7 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.wrapper__header-7.justify-content {
    justify-content: center;
}
.wrapper__header-7.width {
    width: 50%;
}
.wrapper__header-7.height {
    height: 29vh;
}
.wrapper__header-7.flex-direction {
    flex-direction: column;
}

.wrapper__up-title-header-7.pad{
    padding: 20px 0;
}
.wrapper__up-title-header-7.align-self{
    align-self: center;
}

.wrapper__title-header-7.pad{
    padding: 20px 0;
}
.wrapper__title-header-7.align-self{
    align-self: center;
}

.wrapper__sub-title-header-7.pad{
    padding: 10px 0;
}
.wrapper__sub-title-header-7.width{
    width: 100%;
}
.wrapper__sub-title-header-7.align-self{
    align-self: center;
}
.wrapper__sub-title-header-7.text-align{
    text-align: center;
}

.wrapper__btn-header-7{
    display: flex;
    flex-wrap: wrap;
}
.wrapper__btn-header-7.pad{
    padding: 10px 0;
}
.wrapper__btn-header-7.align-self{
    align-self: center;
}


.btn-header-7{
    width: 200px;
    text-align: center;
}
.btn-header-7.pad{
    padding: 20px 30px;
}
.btn-header-7.background-color{
    background-color: red;
}
.btn-header-7.color{
    color: white;
}
.btn-header-7.border-radius{
    border-radius: 15px;
}
.wrapper__header-7 {
    padding: 0 3rem 0 5rem;
}
@media only screen and (min-width: 1280px) and (max-width: 1600px){
    .wrapper__header-7.height {
        height: 37vh;
    }
    .heder-6-img.height {
        height: 37vh;
    }
    .header-7.height {
        height: 37vh;
    }
}
@media only screen and (min-width: 1600px){
    .wrapper__header-7{
        padding: 0 3rem 0 24rem;
    }
}
@media only screen and (max-width: 767px) {
    .header-7.height {
        position: relative;
        height: auto;
    }
    .wrapper__heder-img-7.width {
        width: 100%;
    }
    .heder-7-img.height {
        height: 30vh;
    }
    .wrapper__header-7.height {
        height: auto;

    }
    .wrapper__header-7.width {
        width: 100%;
    }
    .wrapper__header-7.pad{
        padding: 1rem;
    }
    .wrapper__header-7{
        order: 2;
    }
    .wrapper__up-title-header-7.text-align{
        text-align: center;
    }
    .wrapper__title-header-7.text-align{
        text-align: center;
    }
    .up-title-header-7{
        font-size: 16px;
    }
    .ttitle-header-7{
        font-size: 1.8rem;
    }
    .sub-title-header-7{
        font-size: 20px;
    }
    .wrapper__title-header-7.pad {
        padding: 10px 0;
    }
    .wrapper__up-title-header-7.pad {
        padding: 5px 0;
    }
}

