@import "style.scss";
.sec2-main{
  padding: 3rem 0;
}
.wrapper-menu-logo-gb{
  @extend %flex;
  justify-content: space-around;
  width: 100%;

  .wrapper-menu,
  .wrapper-gb{
    align-self: center;
  }
  .wrapper-logo {
    align-self: center;
  }

}
.wrapper-phone-blue{
  display: none;
}
@media only screen and (max-width: 990px) {
  .wrapper-phone-blue{
    display: block;
    align-self: center;
  }
  .wrapper-gb{
    display: none;
  }

  .wrapper-logo img{
    width: 60%;
    align-self: center;
  }
  .sec2-main{
    padding: 1rem 0;
  }
  .wrapper-menu-logo-gb{
    justify-content: space-between;
    padding: 0 .8rem;
  }
}